body{
    width: 100%;
    max-width: 2300px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    margin: 0;;
}

p{
    font-size: 1rem;
    color: #4B5563;
    line-height: 1.6;
    font-weight: bold;
    margin:0;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

header > .name-container{
    width:45%;
}

header >.name-container> h2 {
    font-size: 2rem;
    color: #2463EB;
    font-weight: bold;
}

header > nav {
    width: 15%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}

header > nav > ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

header > nav > ul > li > a{
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color:#64748B;
}
section{
    padding: 4rem 0;
}

.profile-section{
    width:100%;
    height: 400px;
    display: flex;
    background-color: #EEF2F6;
    justify-content: center;
    align-items: center; 
}

#profile-container{
    /* width:35%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#profile-container > #profile-header{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

#profile-container > #profile-header > h1{
    margin: 0;
}

#profile-container > #profile-description{
    font-size: 1rem;
    color: #4B5563;
    line-height: 1.6;
    font-weight: bold;
    max-width: 800px;
}

#profile-container > #profile-description > p{
    margin: 0;
}

#profile-container > #profile-button > #get-in-touch{
    width: 200px;   
    height: 70px;
    background-color: #2463EB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#profile-container > #profile-button > #get-in-touch:hover{
    background-color: #1D4ED8;
}

#profile-image-container{
    /* width: 35%; */
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#circle{
    width: 380px;
    height: 380px;
    /* background-image: url('https://avatars.githubusercontent.com/u/123456789?v=4');
    background-size: cover;
    background-position: center; */
    /* background-color: #2463EB; */
    border-radius: 50%;
    position: relative;
}

#circle > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.left{
    width:50%;
}

.right{
    width:35%;
    min-width: 500px;
}

.about-skills-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 4rem 0; */
}

.about-skills-section > #about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-skills-section > #about > #about-content{
    max-width: 750px;
}

.about-skills-section > #skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-skills-section > #skills-container > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 470px;
}

.about-skills-section > #skills-container > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-skills-section > #skills-container > ul > li > .skill-bar{
    width: 120px;
    height: 10px;
    background-color: #E2E8F0;
    border-radius: 5px;
    position: relative;
}
.about-skills-section > #skills-container > ul > li > .skill-bar > .skill-level{
    height: 100%;
    background-color: #2463EB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* transition: width 0.3s ease; */
    position:absolute;
    top: 0;
    left: 0;
}

#javascript{
    width:90%;
}

#react{
    width: 85%;
}

#nodejs{
    width: 70%;
}

#mongodb{
    width: 80%;
}

.projects-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7FAFC;
}

.projects-section > .project-list{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.projects-section > .project-list > .project-item{
    width: 25%;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
}


.project-item {
    /* width: 80%; */
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #E2E8F0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item > .image-container {
    width: 100%;
    height: 100%;
    flex:1.25;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item > .sub-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* max-width: 600px; */
    background: #fff;
    flex:1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-top-right-radius:0 ; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.project-header-container, .project-description{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* padding: 10px; */
}

.project-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-button{
    width: 120px;
    height: 40px;
    background-color: #F59E0B;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-main{
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.form-field > label{
    font-size: 1rem;
    color: #4B5563;
    margin-bottom: 5px;
}

.form-field > input, .form-field > textarea{
    width: 95%;
    /* padding: 10px; */
    border: 2px solid #E2E8F0;
    border-radius: 8px;
    font-size: 1rem;
    color: #4B5563;
}

.form-field > input{
    height: 40px;
}

.form-field > textarea{
    height: 100px;
    /* resize: none; */
}

.form-button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-button{
    width: 155px;
    height: 45px;
    background-color: #2463EB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-information{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#contact-info-header{
    margin-bottom: 10px;
}


#contact-information > #email, #phone, #location{
    font-size: 1rem;
    color: #4B5563;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
}

#email > img{
    width: 20px;
    height: 10px;
}
#phone > img{
    width: 10px;
    height: 20px;
    margin-right: 5px;
}

#location > img{
    width: 10px;
    height: 20px;
    margin-right: 5px;
}

#contact-information > #email, #phone, #location{
    margin: 10px;
}

#links{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

    /* gap: 20px; */
}

#links > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E293B;
    border-top: 1px solid #E2E8F0;
}

footer > p{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
